[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com-godot_cpp:dietrichsween137/godot-cpp.git
	branch = 4.4
[submodule "shotgun-game/aseprite"]
	path = shotgun-game/aseprite
	url = git@github.com-aseprite:dietrichsween137/aseprite.git
